@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@700&family=Space+Mono:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* margin-top: auto;
    margin-bottom: auto; */
}
html{
    font-size: 10px;
}

body{
    background-color: #e0aaff;
    margin: 0;
}

header{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 3rem;
    background: fixed;
    background-color: white;
    padding-right: 3rem;
}

.container{
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 7rem;
    font-family: "Space Mono", monospace;
}

.logo{
    margin: 3rem 0 3.5rem 0;
    margin-bottom: 8rem;
}
section{
    width: 135%;
    border-radius: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white;
    gap: 2rem;
    padding: 2.5rem;
}
section .column-1{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

section .column-2{
    background-color: #b070e4;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 1.5rem;
    padding: 2rem;
}

label{
    font-size: 1.7rem;
    font-weight: 600;
    color: #666;
}

select {
    font-size: 1.5rem;
    height: 34px;
    padding-left: 1rem;
    padding-right: 1rem;
    color: #666;
    border: 1px solid #d6d6d6;
    border-radius: 0.5rem;
    background: white;
    outline: none;
}

section button{
    width: 100%;
    background-color: #DAA3FC;
    text-align: center;
    color: rgba(0, 0, 0, 0.377);
    font-size: 2rem;
    font-weight: 700;
    border: none;
    border-radius: 0.5rem;
    padding: 1rem 0;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
section button:hover{
    background-color: #bf85e4;
}

@media screen and (max-width: 820px){
    section{
        width: 60%;
        flex-direction: column;
        margin: 2rem;
    }
}